@import "tailwindcss";
@plugin '@tailwindcss/typography';

.container {
  width: 100%;
}

.prose mark {
  color: var(--color-yellow-800);
  background-color: var(--color-yellow-200);
}

@media (width >= 40rem /* 640px */) {
  .container {
    max-width: 40rem /* 640px */;
  }
}

@media (width >= 48rem /* 768px */) {
  .container {
    max-width: 48rem /* 768px */;
  }
}

@media (width >= 64rem /* 1024px */) {
  .container {
    max-width: 64rem /* 1024px */;
  }
}
