---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import BlogCard from "../components/BlogCard.astro";

const postLimit = 5;
const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.createdAt.valueOf() - a.data.createdAt.valueOf())
  .slice(0, postLimit);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />

    <main class="container mx-auto px-4 py-12">
      <div class="flex justify-between items-center mb-8">
        <h2 class="text-3xl font-bold text-gray-800 mb-8">Latest Articles</h2>
        <a href="/blog" class="text-blue-600 hover:text-blue-800 font-medium">
          View All
        </a>
      </div>

      <div class="flex flex-col space-y-8 mb-12">
        {posts.map((post) => <BlogCard blog={post} />)}
      </div>

      <div class="flex justify-center items-center">
        <a
          href="/blog"
          class="text-blue-600 border border-blue-200 hover:bg-blue-100 font-medium py-2 px-4 rounded-lg text-center transition duration-100"
        >
          View All
        </a>
      </div>
    </main>

    <Footer />
  </body>
</html>
