---
import type { CollectionEntry } from "astro:content";

interface Props {
  tags: CollectionEntry<"blog">["data"]["tags"];
}

const { tags } = Astro.props;

if (!tags || tags.length === 0) {
  return null;
}
---

<div class="flex items-center space-x-2 text-sm">
  {
    tags.map((tag, index) => (
      <>
        {index !== 0 && <span class="text-gray-400">•</span>}
        <span class="text-blue-600">{tag}</span>
      </>
    ))
  }
</div>
